body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  text-align: center;
}

.btnDiv {
  width: 50% !important;
  display: inline-block;
  border: 2px solid red;
}

input[type="radio"] {
  /* visibility: hidden; */
  display: none;
}



.delete-btn-enter{
  margin-right: 0px ;
}
.delete-btn-enter-active{
  margin-right:10rem;
  transition: all 1000ms;

}
.delete-btn-enter-done{
  margin-right: 10rem;
}

.delete-btn-exit{
  margin-right:10rem;
}
.delete-btn-exit-active{
margin-right: 0px;
transition: all 1000ms;
transition-delay: 100ms;
}
.delete-btn-exit-done{
  margin-right: 0px;
}


.createRequestBox-enter{
  position: fixed;
  margin-top: -5vh;
}
.createRequestBox-enter-active{
  margin-top: 0vh;
  transition:all 1000ms;
}

.createRequestBox-enter-done{
  position: fixed;
  margin-top: 0vh;
}

.createRequestBox-exit{
  position: fixed;
  margin-top: 0vh;
}
.createRequestBox-exit-active{
  margin-top: -10vh;
  transition: all 500ms;
}
.createRequestBox-exit-done{
  position: fixed;
  margin-top: -10vh;
}